/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@400;700&family=Lato&family=Poppins:wght@100;500;700&display=swap');

/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    
  }

  /* Variables Root */

  :root{
      /* Colors */
    
      /* Primary */
      --Button-icons-color: hsl(180, 66%, 49%);
      --background-dark-blue-color: hsl(257, 27%, 26%);

      /* Secondary */
      --Error-input: hsl(0, 87%, 67%);

      /* Neutral */
      --White: hsl(300, 100%, 99%);
      --Advanced-background:hsl(230, 25%, 95%);
      --Dark-Gray: hsl(249, 4%, 63%);
      --Gray: hsl(0, 0%, 75%);
      --Grayish-Violet: hsl(258, 7%, 63%);
      --Very-Dark-Blue: hsl(255, 11%, 22%);
      --Very-Dark-Violet: hsl(260, 8%, 14%);
      

      /*Font sizes*/
      --extra-large-title: 4.4em;
      --big-title: 2.25em;
      --medium-title: 1.5em;
      --small-title: 1.25em;
      --regular-text: 1em;
      --small-text:.834em;

  }
  /* Common Properties */
  p{
      color: var(--Dark-Gray);
  }
  h1,h2,h3{
      color: var(--Very-Dark-Violet);
  }

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Violet);
}

/* Header */

/*Nav BAR*/
header nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.2em 1.3em;
    font-size: var(--small-text);
    position: relative;
}


div.menu{
        
    display: none;

}
.menu.show{
    background-color: var(--background-dark-blue-color);
    width: 90%;
    height: 383px;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    top: 96px;
    left:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.menu ul{
    list-style:none ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    width: 100%;
}
div.menu ul.services-ul{
    border-bottom: .5px solid var(--Grayish-Violet);
    gap: 2.2em;
}

ul.services-ul li:last-child{
    margin-bottom: .5em;
}

ul.access-ul{
    padding: 2em 1em 2.2em 1em;
}

div.menu ul li a{
    color: var(--Very-Dark-Violet);
    text-decoration: none;
    font-weight: 700;
    color: var(--White)
    
}

li.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Button-icons-color);
    height: 48px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}
/* Ends Nav Bar */


/* Container Get Started*/
div.container-get-started{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8em;
}

div.container-get-started .item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: .5em 0;
    align-items: center;
}

div.order{
    width: 100%;
    order: -1;
}



.item img{
    object-fit: cover;
    object-position: 25px 0;
    width: 100%;
    height:337px;
    
}
div.item-texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .2em;
}
.container-get-started div.item-texts h1{
    font-size: var(--big-title);
    text-align: center;
}

.container-get-started div.item-texts p{
    font-size: var(--regular-text);
    text-align: center;
    font-weight: 500;
    width: 90%;
}

div.btn-get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Button-icons-color);
    height: 56px;
    width: 196px;
    border-radius: 50px;
    margin-top: 1em;
    margin-bottom: 64px;
}

div.btn-get-started a{
    font-size: 1.15em;
    color: var(--White);
    font-weight: 700;
}


/*Ends Container Get started*/

/* Ends Header */

/* Shorten Link Section */
section.shorten-link{
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.shorten-link div{
    background-image: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--background-dark-blue-color);
    border-radius: 10px;
    width: 90%;
    height: 182px;
}



.shorten-link div form{
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    gap: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



  p.error{
    display: none;
    
    color: var(--Error-input);
    font-size: 16px;
    font-style: italic;
    align-self: flex-start;
    padding-left: 6%;
    position: absolute;
 }
  .input-error::placeholder{
     color: var(--Error-input);
 }

.shorten-link div form input{
    padding: 1em;
    width: 90%;
    height: 48px;
    border-radius: 5px;
    border: none;

}

.shorten-link div form input[type="submit"]{
    background-color: var(--Button-icons-color);   
    color: var(--White);
    font-weight: 700;
    
}

div#back-gray{
    content: "";
    z-index: -1;
    position: absolute;
    background-color: var(--Advanced-background);
    top: 90px;
    height: 100vh;
    width: 100%;
    background-image: none;
    border-radius: 0;
    
}




/* Ends Shorten Link Section */

/* Advanced Section */

/*Title & section container*/
section.advanced{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--Advanced-background);
    padding: 1em;
    gap: 3em;
}

section.advanced div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.advanced div.advanced-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.advanced div h2{
    
    font-size: var(--medium-title);
    margin-bottom: 1em;
}

section.advanced div p{
    font-size: .88em;
    text-align: center;
}


/*Statics*/

div.container-statics{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

div#cyan-line{
    position: absolute;
    z-index: 0;
    content: "";
    width: 8px;
    height: 600px;
    border-radius: none;
    background-color: var(--Button-icons-color);
}

div.item-stacs{
    position: relative;
    background-color: var(--White);
    border-radius: 5px;
    padding: 1em;
    margin: 3em .3em;
    
}

div.item-stacs div {
    bottom: 290px;
    height: 88px;
    width: 88px;
    position: absolute;
    background-color: var(--background-dark-blue-color);
    border-radius: 50%;
}
div.item-stacs div#item-detailed{
    position: absolute;
    bottom: 300px;
}
div.item-stacs h3{
    padding-top: 2em;
   font-size: var(--small-title);
   margin-bottom:1.25em ;
    
}

div.item-stacs p {
    font-size: var(--small-text);
    padding: 1em .5em 2.2em .5em;
    
}
/* Ends Advanced Section */

/* Boost Section */

section.boost-section{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section.boost-section{
    background-image: url("../images/bg-boost-mobile.svg");
    background-color: var(--background-dark-blue-color);
    background-repeat: no-repeat;
    height: 299px;
}

section.boost-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.boost-section div h2{
    color: var(--White);
    font-size: var(--medium-title);
    margin-bottom: 1em;
}
section.boost-section div.btn-get-started{
    margin-bottom: 0;
}
/* Ends Boost Section */

/* Footer */
footer{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--Very-Dark-Violet);
    gap: 2em;
    padding: 2.9em 2em;
}

footer .item-footer{
    display: flex;
    align-items: center;
    justify-content: center; 

}
.item-footer .logo{
     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.item-footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.item-footer ul li:first-child{
    margin-bottom: .4em;
}
.item-footer ul  li:first-child a{
    color: var(--White);}

.item-footer ul li a{
    text-decoration: none;
    color: var(--Gray);
}

.social-networks ul {
    display: flex;
    flex-direction: row;
}

div.attribution{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Gray);
}
div.attribution a{
    color: var(--White);
    text-decoration: none;
}
/* Ends Footer */


@media  screen and (min-width: 321px) {
    /* Burger menu */
    .menu.show{
        width: 327px;
        left:24px;
    }

    li.sign-up{
        width: 279px;
    }
    
    /* Container Get started */
    .item img{
        object-fit: cover;
        object-position: 25px 0;
        width: 375px;
        height:337px;
        
    }
    /* Advanced Section */
    div.item-stacs div {
        bottom: 250px;
       
    }
    div.item-stacs div#item-detailed{
        
        bottom: 270px;
    }
    
}

@media screen and (min-width: 376px) {

    /* Burger menu */

    .menu.show{
        width: 90%;
        left:5%;
    }
     /* Container Get started */
     .item img{
        width: 100%;
               
    }
    /* Boost-section */
    section.boost-section{
        background-image: url("../images/bg-boost-mobile.svg");
        background-color: var(--background-dark-blue-color);
        background-size: 100% auto;
        height: 299px;
    }
}
@media screen and (min-width: 767px) {
    /* Header */
     div.menu{
        flex-wrap: nowrap;
        display: flex;
        width: 80%;
        justify-content: space-between;
        
    }
    div.menu ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 35%;
        gap: 1em;
        border-bottom: none;
    }

    div.menu ul.services-ul{
        border-bottom: none;
    }
    ul.services-ul li:last-child{
        margin-bottom: 0;
    }

    div.menu ul,
    ul.access-ul{
        padding: 0;
    }


    div.menu ul li a{
        color: var(--Dark-Gray);
    }
    .menu.show{
        display: none;
    }

    div.burger{
        display: none;
    }

    div.menu ul li.sign-up a{
        color: var(--White);
        
    }

    /* Get started Container */
    div.item-texts {
        padding: 2em;
        justify-content: flex-start;
        width: 90%;
    }

    div.container-get-started div.item-texts h1, 
    div.container-get-started div.item-texts p{
        text-align: left;
    }

    div.order{
        width: 100%;
        order: 1;
    }
    
    div.container-get-started{
        flex-wrap: nowrap;
    }

    
    /* Ens Header */

    /* Shorten Link */
    p.error{
        padding-left: 2.2em;
    }

    /* Advanced Section */
    div.item-stacs{
        width: 95%;
    }
    
    div.item-stacs div,
    div.item-stacs div#item-detailed{
        bottom: 200px;
    }
    /* Footer */
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    /* Ends Footer */
    
}

@media screen and (min-width: 1024px){
    /* Header */
    header nav {
        padding: 3em 5em;
    }
    div.menu{
        flex-wrap: nowrap;
        display: flex;
        width: 85%;
        justify-content: space-between;
        
    }
    div.menu ul.access-ul {
        width: 183px;
    }
    li.sign-up {
        width: 105px;
        height: 40px;
    }
    /* Get Started Section */
    div.item-texts {
        padding: 2em 1em 4em 4em;
    }
    div.item .order{
        width: 30%;
    }
    .item img {
        height: 350px;
        object-position: 90px;
    }
    /* Ends Header */

    /* Advanced statics */
    section.advanced div{
        justify-content: space-evenly;
    }
    section.advanced div p{
        text-align: left;
    }

    div#cyan-line {
        width: 60%;
        height: 8px;
        top: 150px;

    }
    div.item-stacs{
        width: 290px;
    }
    
    div.item-stacs h3{
        margin-bottom: 0;
        width: 95%;
        
    }

    div.item-stacs p{
        margin-bottom: 0;
        padding: 1em .5em;
    }
    div.item-stacs:nth-child(0n+2) {
        align-self: flex-start;
        margin-top: 1em;
    }
    div.item-stacs:last-child{
        align-self: flex-end;
        margin-bottom: 1em;
    }

    div.item-stacs div, div.item-stacs div#item-detailed {
        bottom: 230px;
        left: 32px;
    }


    /* Shorten Link Section */
    .shorten-link div{
        background-image: url("../images/bg-shorten-desktop.svg");
        background-repeat: no-repeat;
        
        background-size: cover;
        width: 90%;
        height: 168px;
    }
    
    .shorten-link div form{
        flex-direction: row;
    }

    p.error{
        padding-left: 2.2em;
        position: absolute;
        top: 120px;
        left: 35px;
    }
    .shorten-link div form input[type="text"]{
        width: 65%;
        height: 64px;
    }
    
    .shorten-link div form input[type="submit"]{        
        width: 20%;
        height: 64px;
    }

    /* Boost Section */
    section.boost-section {
        background-image: url("../images/bg-boost-desktop.svg");
        background-color: var(--background-dark-blue-color);
        background-size: cover;
        height: 250px;
    }

    
}

@media screen and (min-width: 1440px){

    /* Header */
    
     header nav {
        padding: 3em 9.3em;
        flex-wrap: nowrap;
        gap: 2.5em;
    }
    div.menu{
        flex-wrap: nowrap;
        display: flex;
        width: 90%;
        justify-content: space-between;
        
    }
    /* Get started section */
    .container-get-started div.item-texts h1{
        margin-top: .75em;
        font-weight: 700;
        font-size: var(--extra-large-title);
        line-height: 94.3px;
        letter-spacing: -4%;
    }

    div.item-texts{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;
        padding-left: 8em;
        width: 100%;
    }

    .container-get-started div.item-texts p{
        font-size: var(--small-title);
    }
    div.btn-get-started{
        margin-bottom: 2em;
    }
    .item img{
        height: 481px;
        margin-top: 1.5em;
        margin-bottom: 8em;
    }

    /* Ends Header */

     /* Shorten Links Section */
     .shorten-link div{
        width: 1110px;
    }

  
    .shorten-link div form{
        flex-direction: row;
    }
    .shorten-link div form input[type="text"]{
        width: 768px;
    }
    
    .shorten-link div form input[type="submit"]{        
        width: 188px;
    }

    /* Ends Shorten Link section */
    
    /* Advanced section */
    section.advanced{
        padding-bottom: 3em;
    }
    section.advanced div h2{
        margin-top: 4.6em;
        font-size: var(--big-title);
        letter-spacing: -2.5%;
        margin-bottom: .5em;
    }

    .advanced div.advanced-title{
        margin-bottom: 1em;
    }
    
    section.advanced div.advanced-title p{
        text-align: center;
        width: 65%;
        line-height: 32.13px;
        font-size: var(--regular-text);
        
    }
    div.container-statics {
        width: 82%;
    }

    div.item-stacs{
        width: 350px;
    }
    div.item-stacs div,
    div.item-stacs div#item-detailed{
        bottom: 200px;
    }

    /* Ends advanced section */
    /* Boost section */
    section.boost-section div h2{
        letter-spacing: -2.5%;
        font-size: var(--big-title);
    }
    /* Footer */
    footer{
        padding: 3.9em 9.2em;
    }
}
     
